<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- Basic Page Needs
   ================================================== -->
  <meta charset="utf-8">
  <title>KSWAMY | ACADEMIC PERSONAL VCARD </title>
  <meta name="description" content="">
  <meta name="author" content="">

   <!-- Mobile Specific Metas
   ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
    ================================================== -->
   <link rel="stylesheet" href="/css/default.css">
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="/css/responsive.css">
   <link rel="stylesheet" href="/css/animate.css">
   <link rel="stylesheet" href="/css/magnific-popup.css">
   <link rel="stylesheet" href="/assets/owl.carousel.css">
   <link rel="stylesheet" href="/assets/owl.theme.css">

   <!-- Script
   ================================================== -->
  <script src="/js/modernizr.js"></script>

   <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="/images/favicon.png" >

</head>

<body>

  <!-- Preloader --> 
    <div id="preloader">
      <div class="loader"></div>    
    </div><!--preloader end-->

    
   <!-- Header
   ================================================== -->
   <header id="home">

      <nav id="left-nav">

        <div class="logo">
          <img src="avatar1.png">
        </div>

        <div class="menu" id="menu">
          <span class="menu-global menu-top"></span>
          <span class="menu-global menu-middle"></span>
          <span class="menu-global menu-bottom"></span>
        </div>

         <ul id="nav" class="nav">
            <li class="current">
              <a class="smoothscroll" href="#home"><i class="fa fa-home fa-fw"></i>Home</a>
            </li>
            <li>
              <a class="smoothscroll" href="#about"><i class="fa fa-user fa-fw"></i>About Me</a>
            </li>
            <li>
              <a class="smoothscroll" href="#resume"><i class="fa fa-file-text fa-fw"></i>Resume</a>
            </li>
            <li>
              <a class="smoothscroll" href="#portfolio"><i class="fa fa-briefcase fa-fw"></i>Portfolio</a>
            </li>
            <!-- <li>
              <a class="smoothscroll" href="#testimonials"><i class="fa fa-comments fa-fw"></i>Testimonials</a>
            </li> -->
            <li>
              <a class="smoothscroll" href="#contact"><i class="fa fa-envelope fa-fw"></i>Contact</a>
            </li>
         </ul> <!-- end #nav -->

      </nav> <!-- end #nav-wrap -->

      <div class="row banner">
         <div class="banner-text">
            <h1 class="responsive-headline wow zoomIn">I'm <span>K..Swamy</span></h1>
            <h3 class="wow fadeInUp">I'm a passionate <span>WEB DESIGNER & DEVELOPER</span> creating modern and responsive design for <span>Web</span> and <span>Mobile .</span><br>I am passionate about programming and coding<br> Welcome to my Personal </span> <a class="smoothscroll" href="#about">profile</a>.</h3>
            <hr />
         </div>
      </div>

      <p class="scrolldown">
         <a class="smoothscroll" href="#about"><i class="fa fa-angle-double-down"></i></a>
      </p>

      <div class="header-overlay"></div>

   <!-- Social Section
   ================================================== -->
   <div id="social">
      <div class="row social-container">
            <ul class="social">
               <li> <a href="https://www.facebook.com/kswamy.chethan"><i class="fa fa-facebook"></i></a></li>
               <li> <a href="https://twitter.com/kswamy_chethan"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/+kendagannaswamychethan/"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://in.linkedin.com/pub/kendaganna-swamy/23/77b/446"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/kendagannaswamy"><i class="fa fa-github"></i></a></li>
             <!--   <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li> -->
            </ul>
      </div>

   </div> <!-- Social End -->

   </header> <!-- Header End -->

   <!-- About Section
   ================================================== -->
   <section id="about">

      <div class="row bio-container">
        <div class="twelve columns bio-inner">
         <div class="six columns bio-left"> 
         <div class="pp-container">

            <img class="profile-pic wow zoomIn"  src="avatar1.png" alt="" />
              <h2>Kendaganna Swamy</h2>
              <h3>WEB DESIGNER & DEVELOPER</h3>              
            </div> <!-- Profile Picture -->
         </div>


         <div class="six columns main-col wow fadeIn">
          <div class="arrow-left"></div>

              <p align="justify">Seeing that you have stopped by to take a quick flick at the stunning page of me...!
                                  <br/>Hello! By the way, it’s Kendaganna Swamy from the city of fun &amp; love, don't forget the palaces, yes it is in-deed Mysore. Being a graduate in Computer Science with the passion towards computers &amp; coding that keeps me awake forever!
                                    <br/><br/>I am an upcoming technocrat in the field of web development and interactive designer who drives to marry the love of application development, web &amp; graphic design by finding a harmonious balance between functionality &amp;aesthetics.
                                    <br/><br/>Let’s see a bit more of me who is creative &amp; passionate person towards growing technology, and of course to grab an opportunity to give best by me. <
          <div class="row">            
            <div class="six columns download">
                <p>
                  <a href="#contact" class="button"><i class="fa fa-paper-plane"></i>Hire Me</a>
                  <a href="download/resume.png" class="button" target="_blank"><i class="fa fa-download"></i>Download Resume</a>
                </p>
            </div> <!-- Download Buttons --> 
      </div>

         </div> <!-- end .main-col -->
      </div>
      </div>


   </section> <!-- About Section End-->


   <!-- Resume Section
   ================================================== -->
   <section id="resume">
    <h1 class="section-title wow fadeInDown">Resume</h1>
      <!-- Education
      =============================================== -->
      <div class="row education">

         <div class="three columns header-col">
            <h2><span>Education</span></h2>
         </div>

      <div class="nine columns main-col">
         <div class="education-timeline">
            <ul class="timeline">
              <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">2012 - 2015</p>
                  <h3>Visvesvaraya Technological University</h3>
                  <h4>Computer Science &amp; Engineering</h4>
                  <p><strong>ATME College Of Engineering, Bannur Road, Mysore.</strong><br>
                  </p>
                </div>
              </li>
              <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">2008 - 20011</p>
                  <h3>DTE, Karanataka</h3>
                  <h4>Diploma in Computer Science &amp; Engineering</h4>
                  <p><strong>JSS Polytechnic, Mysore</strong><br>
                     </p>
                </div>
              </li>
             <!--  <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                  <h3>School of Amusement</h3>
                  <h4>O Level</h4>
                  <p><strong>Grade A++</strong><br>
                     Completed O Level from College of Amusement with and finished O Level with A++. Achieved the Principal Award for extra-ordinary result.</p>
                </div>
              </li> -->
            </ul>  
         </div> <!-- Education Timeline End --> 
      </div> <!-- main-col end -->

      </div> <!-- End Education -->


      <!-- Work
      ========================================= -->
      <div class="row work">

         <div class="three columns header-col">
            <h2><span>Employment</span></h2>
         </div>

         <div class="nine columns main-col">

         <div class="work-timeline">
            <ul class="timeline">
              <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">July 2015 - Present</p>
                  <h3>Wire Delta</h3>
                  <h4>Back End Developer (Internship)</h4>
                  <p>In 2010, Thibaut Delarbre and Mark Dencker set out to create a product company called Designing Opportunities aiming to connect designers, manufacturers and clients on a single web-based platform. In spite of positive feedbacks from early users, the project was short-lived when the two entrepreneurs didn’t have the budget to finance the application development. A rather common problem in the startup world! They decided to solve that pain and created Wiredelta in 2012. </p>
                </div>
              </li>
              <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">Spt-2011 -Aug-2012</p>
                  <h3>Hinduja Global Solutions</h3>
                  <h4>Customer Relation Officer</h4>
                  <!-- <p> Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p> -->
                </div>
              </li>
              <!-- <li class="timeline-event">
                <label class="timeline-event-icon"></label>
                <div class="timeline-event-copy">
                  <p class="timeline-event-thumbnail">January 2000 - December 2006</p>
                  <h3>Amazing Developers</h3>
                  <h4>Front-End Developer</h4>
                  <p>Donec ultrices faucibus rutrum. Phasellus sodales vulputate urna, vel accumsan augue egestas ac. Donec vitae leo at sem lobortis porttitor eu consequat risus. Mauris sed congue orci. Vestibulum gravida nulla nec justo congue, vitae sodales massa ullamcorper. </p>
                </div>
              </li> -->
            </ul>  
         </div> <!-- Work Timeline End --> 
         </div> <!-- main-col end -->

      </div> <!-- End Work -->


      <!-- Skills
      =============================================== -->
      <div class="row skill">

         <div class="three columns header-col">
            <h2><span>Skills</span></h2>
         </div>

         <div class="nine columns main-col">

            <p>Follow your dreams and use your natural-born talents and skills to make this a better world for tomorrow.
            </p>

        <div class="bars">

           <ul class="skills">
           
            <!-- <li><span class="bar-expand illustrator wow fadeInLeft"></span><em>Illustrator</em></li> -->
            <li><span class="bar-expand css wow fadeInLeft"></span><em>CSS</em></li>
            <li><span class="bar-expand html5 wow fadeInLeft"></span><em>HTML5</em></li>
             <li><span class="bar-expand photoshop wow fadeInLeft"></span><em>Photoshop</em></li>
            <li><span class="bar-expand jquery wow fadeInLeft"></span><em>jQuery</em></li>
            <li><span class="bar-expand illustrator wow fadeInLeft"></span><em>JavaScript</em></li>
            <li><span class="bar-expand wordpress wow fadeInLeft"></span><em>Node js</em></li>
          </ul>

        </div><!-- end skill-bars -->

      </div> <!-- main-col end -->

      </div> <!-- End skills -->

      <!-- Awards
      =============================================== -->
      <div class="row awards">

         <div class="three columns header-col">
            <h2><span>Recognition</span></h2>
         </div>

         <div class="nine columns main-col">

           <!--  <p>• RASHTRAPATI AWARD, RAJYA PURASKAR in Bharat Scout and Guides – Lions Academy school (2003-2004) 
            </p>
 -->
        <div class="award-list">
           <ul>
             <li class="wow fadeIn">
                <span><i class="fa fa-trophy fa-5x pull-left fa-fw"></i></span>
                <h3>RASHTRAPATI AWARD</h3>
                <h5>Bharat Scout and Guides</h5>
                <!-- <h4>Dhaka, Bangladesh</h4> -->
             </li>
             <li class="wow fadeIn">
                <span><i class="fa fa-trophy fa-5x pull-left fa-fw"></i></span>
                <h3>RAJYA PURASKAR</h3>
                <h5>Bharat Scout and Guides</h5>
                <!-- <h4>San Fransisco, USA</h4> -->
             </li>
             <!-- <li class="wow fadeIn">
                <span><i class="fa fa-trophy fa-5x pull-left fa-fw"></i></span>
                <h3>Awesome UI/UX Designers Award</h3>
                <h5>Best UI/UX Designer</h5>
                <h4>New York, USA</h4>
             </li>
             <li class="wow fadeIn">
                <span><i class="fa fa-microphone fa-5x pull-left fa-fw"></i></span>
                <h3>UX Conference</h3>
                <h5>Speaker</h5>
                <h4>Dhaka, Bangladesh</h4>
             </li> -->

          </ul>

        </div><!-- end awards list -->

      </div> <!-- main-col end -->

      </div> <!-- End skills -->

   </section> <!-- Resume Section End-->


   <!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">

      <div class="row">

         <div class="twelve columns collapsed">

            <h1 class="section-title wow fadeInDown">Some of My Works</h1>

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf wow fadeIn">

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-01" title="">
                        <img alt="" src="-text-a1.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>My First web page</h5>
                              <p>single page responsive web</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-02" title="">
                        <img alt="" src="-text-a2.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Login Form</h5>
                              <p>authentication through javascript</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-03" title="">
                        <img alt="" src="-text-a3.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Sofa shop</h5>
                              <p>Xhtml Web page</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-04" title="">
                        <img alt="" src="-text-a4.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Tic Tac Toe</h5>
                              <p>Game page</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-05" title="">
                        <img alt="" src="-text-a5.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>User infromation Page</h5>
                              <p>web Design</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div> <!-- item end -->

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-06" title="">
                        <img alt="" src="-text-a6.png">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Shopping Cart</h5>
                              <p>Node js</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div>  

               <!-- <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-07" title="">
                        <img alt="" src="http://placehold.it/300x300">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                         <h5>Portfolio Title</h5>
                              <p>Illustrration</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div>
              </div>  

               <div class="columns portfolio-item">
                  <div class="item-wrap">

                     <a href="#modal-08" title="">
                        <img alt="" src="http://placehold.it/300x300">
                        <div class="overlay">
                           <div class="portfolio-item-meta">
                          <h5>Portfolio Title</h5>
                              <p>Web Development</p>
                       </div>
                        </div>
                        <div class="link-icon"><i class="fa fa-plus fa-2x"></i></div>
                     </a>

                  </div> -->
              </div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

         </div> <!-- twelve columns end -->


         <!-- Modal Popup
        =============================================== -->

         <div id="modal-01" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="1.png" alt="" />

          <div class="description-box">
            <h4>My first Web design</h4>
            <p>Responsive web page of personal cv in single page.. !</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Webdesign</span>
          </div>

            <div class="link-box">
               <a href="http://chethan1988.netne.net/" class="button">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div><!-- modal-01 End -->

         <div id="modal-02" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="2a.png" alt="" />

          <div class="description-box">
            <h4>Loging Form</h4>
            <p>Valdation for the user input and Responsive form for user input..!</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Web Development</span>
          </div>

            <div class="link-box">
               <a href="#" class="button"  style="text-decoration:line-through;" >Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div><!-- modal-02 End -->

         <div id="modal-03" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="3.png" alt="" />

          <div class="description-box">
            <h4>Sofa - shop</h4>
            <p>Web page created in Xhtml format with little javascript.. !</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding</span>
          </div>

            <div class="link-box">
               <a href="#" class="button" style="text-decoration:line-through;">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div><!-- modal-03 End -->

         <div id="modal-04" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="4.png" alt="" />

          <div class="description-box">
            <h4>Tic Tac Toe</h4>
            <p>Developing Tic-Tac-Toe Game page useing Jquery </p>
               <span class="categories"><i class="fa fa-tag"></i>Game</span>
          </div>

            <div class="link-box">
               <a href="#" class="button" style="text-decoration:line-through;">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div><!-- modal-04 End -->

         <div id="modal-05" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="5.png" alt="" />

          <div class="description-box">
            <h4>User  information  page</h4>
            <p>User input and get information abt current time and date ...!</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign</span>
          </div>

            <div class="link-box">
               <a href="#" class="button" style="text-decoration:line-through;">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div><!-- modal-05 End -->

         <div id="modal-06" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="6.png" alt="" />

          <div class="description-box">
            <h4>Shopping Cart</h4>
            <p>Make a shopping list that you can add and delete items from. This list should display the item name, the quantity each item and a button to delete the item.</p>
               <span class="categories"><i class="fa fa-tag"></i>node.js mongoDb</span>
          </div>

            <div class="link-box">
               <a href="#" class="button" style="text-decoration:line-through;">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div> 

         <!-- <div id="modal-07" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="http://placehold.it/640x427" alt="" />

          <div class="description-box">
            <h4>This is title</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Branding, Illustration</span>
          </div>

            <div class="link-box">
               <a href="#" class="button">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div>

        </div> 

         <div id="modal-08" class="popup-modal mfp-hide">

          <img class="scale-with-grid" src="http://placehold.it/640x427" alt="" />

          <div class="description-box">
            <h4>This is title</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
               <span class="categories"><i class="fa fa-tag"></i>Webdesign, Photography</span>
          </div>

            <div class="link-box">
               <a href="#" class="button">Live Demo</a>
             <a class="popup-modal-dismiss button btn-close">Close</a>
            </div> -->

        </div><!-- modal-01 End -->


      </div> <!-- row End -->

   </section> <!-- Portfolio Section End-->



   <!-- Call-To-Action Section
   ================================================== -->
   <section id="call-to-action">

      <div class="row">

         <div class="two columns header-col">
            <h1 class="wow fadeInLeft">
              <span><i class="fa fa-paper-plane fa-5x pull-left fa-fw"></i></span>
            </h1>
         </div>

         <div class="seven columns">            
            <h2 class="wow zoomIn">Hire me for your awesome project</h2>
          <!--   <p>I am available for Freelance projects that depends on your project value. Hire me and get your project done!</p> -->

         </div>

         <div class="three columns action wow fadeIn">

            <a href="#contact" class="button">Hire me Now</a>

         </div>

      </div>

   </section> <!-- Call-To-Action Section End-->


   <!-- Testimonials Section
   ================================================== -->
   <!-- <section id="testimonials">
      <div class="text-container">
         <div class="row">
          <div class="twelve columns flex-container">
            <h1 class="section-title wow fadeInDown">Get in touch</h1>

            <div id="testimonial-slides" class="owl-carousel">
              <div> 
                <blockquote><p> Mobile: +91-8453313725</p>
                  
              </blockquote> 
              </div>  

              <div> 
                <blockquote><p>e-mail :  <a href="mailto:kendagannaswamy@outlook.com?Subject=Hello%20again" target="_top">kendagannaswamy@outlook.com</a></p>
                
              </blockquote> 
              </div>   Single testimonial  

              <div> 
                <blockquote><p>Address:  
                 <cite> #505/B, K N Agrahara, K R Mohalla, Mysore-570024</cite> </p>
              </blockquote> 
              </div>  
            </div>  

          </div>  

         </div>  

       </div>  
   </section>  --> 


   <!-- Contact Section
   ================================================== -->
   <section id="contact">

      <div class="row section-head">
          <div class="twelve columns">
               <div> 
                <blockquote> Mobile: +91-8453313725
                  
              </blockquote> 
              </div> <!-- Single testimonial -->

              <div> 
                <blockquote><p>e-mail :  <a href="mailto:kendagannaswamy@outlook.com?Subject=Hello%20again" target="_top">kendagannaswamy@outlook.com</a></p>
              </blockquote> 
              </div> <!-- Single testimonial -->

              <div> 
                <blockquote><p>Address:  
                 <cite> #505/B, K N Agrahara, K R Mohalla, Mysore-570024</cite> </p>
              </blockquote> 
              </div> <!-- Single testimonial -->
          </div>
      </div> <!-- Section head --> 

     <!--  <div class="row">
          <div class="five columns">
             <div class="form-container wow fadeIn">
               

               <form action="#" method="post" id="contactForm" name="contactForm">
                  <fieldset>

                        <div>
                     <input type="text" placeholder="Name" value="" size="35" id="contactName" name="contactName">
                        </div>

                        <div>
                     <input type="text" placeholder="Email" value="" size="35" id="contactEmail" name="contactEmail">
                        </div>

                        <div>
                     <input type="text" placeholder="Subject" value="" size="35" id="contactSubject" name="contactSubject">
                        </div>

                        <div>
                           <textarea cols="5" rows="5" placeholder="Message" id="contactMessage" name="contactMessage"></textarea>
                        </div>

                        <div>
                         
                         <div id="message-warning"> Error boy</div>
                           <button class="submit">Submit</button>
                           <span id="image-loader">
                              <img alt="" src="images/loader.gif">
                           </span>
                        </div>

                 </fieldset>
                </form>  
                        
                         <div id="message-success">
                                <i class="fa fa-check"></i>Your message was sent, thank you!<br>
                         </div>
            </div>  
          </div>

       <div class="seven columns">  
        <h1><span>Find me on Google Map</span></h1>  
         Start Google Map
         <div id="map"></div>
        
      </div>   


      </div> --> <!-- Row ends-->



   </section> <!-- Contact Section End-->


   <!-- footer
   ================================================== -->
   <footer>

      <div class="row">

         <div class="twelve columns">

            <ul class="social-links">
          <li> <a href="https://www.facebook.com/kswamy.chethan"><i class="fa fa-facebook"></i></a></li>
               <li> <a href="https://twitter.com/kswamy_chethan"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://plus.google.com/u/0/+kendagannaswamychethan/"><i class="fa fa-google-plus"></i></a></li>
               <li><a href="https://in.linkedin.com/pub/kendaganna-swamy/23/77b/446"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://github.com/kendagannaswamy"><i class="fa fa-github"></i></a></li>
             <!--   <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
               <li><a href="#"><i class="fa fa-skype"></i></a></li> -->
            </ul>

            <ul class="copyright">
               <li>Kswamy Chethan &copy; Copyright 2015, All Rights Reserved</li>
               
            </ul>

         </div>

         <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="fa fa-chevron-up"></i></a></div>

      </div>

   </footer> <!-- Footer End-->

   <!-- Java Script
   ================================================== -->

   <script src="/js/jquery-2.1.1.min.js"></script>
   <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AMP;sensor=false"></script>
   // <script src="js/gmaps.js"></script>
   <script src="/assets/owl.carousel.min.js"></script>
   <script src="/js/waypoints.js"></script>
   <script src="/js/jquery.fittext.js"></script>
   <script src="/js/magnific-popup.js"></script>
   <script src="/js/wow.min.js"></script>
   <script src="/js/jquery.nicescroll.min.js"></script>
   <script src="/js/script.js"></script>

</body>

</html> 

 